.dsgvo-container{
  position: fixed;
  right: 0;
  width: 60px;
  height: 60px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    i{
      color: black;
      font-size: 1.8rem;
    }
  }
}
