// Your Utilities overrides
$slider-color : #FFFFFF;
$slider-thickness: 3px;

.image-slider-container{
  position: relative;
  border-radius: 1.0rem;
  overflow: hidden;
  .image-slider{
    position: absolute;
    overflow: hidden;
    height: 100%;
    border-radius: 0;
    img{
      height: 100%;
      object-fit: cover;
      border-right: 2px solid white;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
      pointer-events: none
    }
  }
  .slider{
    position: absolute;
    cursor:ew-resize;
    background: transparent;
    border-radius: 50%;
    border: $slider-thickness solid $slider-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    i{
      color: $slider-color;
      font-size: 20px;
    }
  }
  .slider-bar{
    position:absolute;
    background: $slider-color;
    width: $slider-thickness;
  }
  .slider-bar-top{
    top: 0
  }
  .slider-bar-bottom{
    bottom: 0
  }
}
